In [6]:
import pandas as pd
data = pd.read_csv("dataset.csv")

In [7]:
data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1
count,99.000000,99.000000,85.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000,99.000000
mean,50.000000,52.323232,71.341176,10123.909091,6.000000,5.505051,1971.535354,1984.171717,122.868687,453.404040
std,28.722813,42.638209,21.210146,5156.018489,1.525297,0.983265,29.495871,20.921642,214.285221,464.240897
min,1.000000,20.000000,21.000000,1596.000000,3.000000,2.000000,1910.000000,1950.000000,0.000000,0.000000
25%,25.500000,20.000000,60.000000,7628.500000,5.000000,5.000000,1954.500000,1965.000000,0.000000,0.000000
50%,50.000000,45.000000,70.000000,9600.000000,6.000000,5.000000,1970.000000,1995.000000,0.000000,384.000000
75%,74.500000,60.000000,84.000000,11245.500000,7.000000,6.000000,2000.500000,2003.500000,191.000000,738.000000
max,99.000000,190.000000,122.000000,50271.000000,10.000000,8.000000,2009.000000,2009.000000,1115.000000,1880.000000

In [8]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 99 entries, 0 to 98
Data columns (total 36 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Id            99 non-null     int64
 1   MSSubClass    99 non-null     int64
 2   MSZoning      99 non-null     object
 3   LotFrontage   85 non-null     float64
 4   LotArea       99 non-null     int64
 5   Street        99 non-null     object
 6   Alley         6 non-null      object
 7   LotShape      99 non-null     object
 8   LandContour   99 non-null     object
 9   Utilities     99 non-null     object
 10  LotConfig     99 non-null     object
 11  LandSlope     99 non-null     object
 12  Neighborhood  99 non-null     object
 13  Condition1    99 non-null     object
 14  Condition2    99 non-null     object
 15  BldgType      99 non-null     object
 16  HouseStyle    99 non-null     object
 17  OverallQual   99 non-null     int64
 18  OverallCond   99 non-null     int64
 19  YearBuilt     99 non-null     int64
 20  YearRemodAdd  99 non-null     int64
 21  RoofStyle     99 non-null     object
 22  RoofMatl      99 non-null     object
 23  Exterior1st   99 non-null     object
 24  Exterior2nd   99 non-null     object
 25  MasVnrType    99 non-null     object
 26  MasVnrArea    99 non-null     int64
 27  ExterQual     99 non-null     object
 28  ExterCond     99 non-null     object
 29  Foundation    99 non-null     object
 30  BsmtQual      96 non-null     object
 31  BsmtCond      96 non-null     object
 32  BsmtExposure  96 non-null     object
 33  BsmtFinType1  96 non-null     object
 34  BsmtFinSF1    99 non-null     int64
 35  BsmtFinType2  96 non-null     object
dtypes: float64(1), int64(9), object(26)
memory usage: 28.0+ KB

In [9]:
data.isnull().sum()

Id               0
MSSubClass       0
MSZoning         0
LotFrontage     14
LotArea          0
Street           0
Alley           93
LotShape         0
LandContour      0
Utilities        0
LotConfig        0
LandSlope        0
Neighborhood     0
Condition1       0
Condition2       0
BldgType         0
HouseStyle       0
OverallQual      0
OverallCond      0
YearBuilt        0
YearRemodAdd     0
RoofStyle        0
RoofMatl         0
Exterior1st      0
Exterior2nd      0
MasVnrType       0
MasVnrArea       0
ExterQual        0
ExterCond        0
Foundation       0
BsmtQual         3
BsmtCond         3
BsmtExposure     3
BsmtFinType1     3
BsmtFinSF1       0
BsmtFinType2     3
dtype: int64

In [10]:
data.duplicated(keep="first")

0     False
1     False
2     False
3     False
4     False
      ...
94    False
95    False
96    False
97    False
98    False
Length: 99, dtype: bool

In [ ]:
data_without_missing_values = data.dropna(axis=1)

In [11]:
train_data = pd.read_csv('dataset.csv')
test_data = pd.read_csv('dataset.csv')

# Disregard the houses that are missing the target value:
train_data.dropna(axis=0, subset=['MSSubClass'], inplace=True)

target = train_data.MSSubClass

# Keep this simple (and inaccurate, remember) and just drop columns with missing values.
# Try experimenting with different and better ways to go about this.
cols_with_missing = [col for col in train_data.columns if train_data[col].isnull().any()]

# Let's get some predictors chosen now:
candidate_train_predictors = train_data.drop(['Id', 'MSSubClass'] + cols_with_missing, axis=1)
candidate_test_predictors = test_data.drop(['Id'] + cols_with_missing, axis=1)

# Cardinality == number of unique values in a column.
# This is a convenient (and arbitrary) way of selecting categorical columns.

low_cardinality_cols = [cname for cname in candidate_train_predictors.columns if 
                                candidate_train_predictors[cname].nunique() < 10 and
                                candidate_train_predictors[cname].dtype == "object"]

numeric_cols = [cname for cname in candidate_train_predictors.columns if 
                                candidate_train_predictors[cname].dtype in ['int64', 'float64']]

my_cols = low_cardinality_cols + numeric_cols
train_predictors = candidate_train_predictors[my_cols]
test_predictors = candidate_test_predictors[my_cols]

In [12]:
train_predictors.dtypes.sample(10)

Condition2      object
Foundation      object
RoofMatl        object
Condition1      object
OverallCond      int64
RoofStyle       object
HouseStyle      object
YearRemodAdd     int64
MSZoning        object
BsmtFinSF1       int64
dtype: object

In [13]:
one_hot_encoded_training_predictors = pd.get_dummies(train_predictors)
one_hot_encoded_training_predictors[:5]

,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,MSZoning_C (all),MSZoning_FV,MSZoning_RL,...,ExterQual_Gd,ExterQual_TA,ExterCond_Fa,ExterCond_Gd,ExterCond_TA,Foundation_BrkTil,Foundation_CBlock,Foundation_PConc,Foundation_Slab,Foundation_Wood
0,8450,7,5,2003,2003,196,706,0,0,1,...,1,0,0,0,1,0,0,1,0,0
1,9600,6,8,1976,1976,0,978,0,0,1,...,0,1,0,0,1,0,1,0,0,0
2,11250,7,5,2001,2002,162,486,0,0,1,...,1,0,0,0,1,0,0,1,0,0
3,9550,7,5,1915,1970,0,216,0,0,1,...,0,1,0,0,1,1,0,0,0,0
4,14260,8,5,2000,2000,350,655,0,0,1,...,1,0,0,0,1,0,0,1,0,0

In [14]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error as mae
from sklearn.model_selection import train_test_split

target = data.MSSubClass
predictors = data.drop(['MSSubClass'], axis=1)

# In order to simplify this example, only numeric predictors are used.
numeric_predictors = predictors.select_dtypes(exclude=['object'])

In [15]:
X_train, X_test, y_train, y_test = train_test_split(numeric_predictors, target, train_size=0.7,
                                                   test_size=0.3, random_state=0)

def score_dataset(X_train, X_test, y_train, y_test):
    model = RandomForestRegressor()
    model.fit(X_train, y_train)
    preds = model.predict(X_test)
    return mae(y_test, preds)

In [16]:
cols_with_missing = [col for col in X_train.columns if X_train[col].isnull().any()]
reduced_X_train = X_train.drop(cols_with_missing, axis=1)
reduced_X_test = X_test.drop(cols_with_missing, axis=1)
print("Mean Absolute Error after dropping columns with missing values:")
print(score_dataset(reduced_X_train, reduced_X_test, y_train, y_test))

Mean Absolute Error after dropping columns with missing values:
25.535000000000007